doctype html
html
  head
    title= title
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/dropzone.css')
    script(type='text/javascript',src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(type='text/javascript',src='/javascripts/bootstrap.min.js')
    script(type='text/javascript',src='/javascripts/dropzone.js')
  body
    block content

    footer
      p by Jane Ullah
